[submodule "PS4CoreHost.Server/wwwroot/exploits/specter"]
	path = PS4CoreHost.Server/wwwroot/exploits/specter
	url = https://github.com/Cryptogenic/PS4-4.05-Kernel-Exploit.git
[submodule "PS4CoreHost.Server/wwwroot/exploits/idc"]
	path = PS4CoreHost.Server/wwwroot/exploits/idc
	url = https://github.com/idc/ps4-entrypoint-405.git
